body {
    background-color:#ffeaff;
    color: #395648;
    font-family: "Verdana";
    font-size:1em;
}

.navigation {
    display:flex;
    justify-content: center;
}

.navigation ul {
    margin: 10px;
    padding: 0px;
    overflow:hidden;
    width:100%;
    background-color:#395648;
    border-radius:10px;
    height:auto;
}

.navigation ul li {
    float:left;
    background-color:#395648;
    width:33.3%;
    border:none;
    font-size:1em;
    font-family:"Verdana"
}

.navigation ul li a, ul li a:hover {
    color:#ffeaff;
    display:block;
    text-align:center;
    text-decoration:none;
    font-family: "Verdana";
    padding: 10px;
    font-size:1em;
    font-family:"Verdana"
}

h1 {
    text-align:center;
    color:#395648;
}

h2 {
    color:#ffeaff;
    margin:5px;
}

.section {
    padding:10px;
    background-color:#395648;
    color:#ffeaff;
    border-right:None;
    border-left:None;
    border-radius:10px;
    border-top-width:3px;
    border-bottom-width:3px;

}

.container {
    display: flex;
    align-items:flex-start;
    position:relative;
}

p {
    margin:5px;
}

img {
    width:25%;
    height:auto;
    border-style:3px;
    border-radius:50%;
    border-style:solid;
    border-color:#ffeaff;
    border-width:3px;
    margin: 10px;
}

#back_top_button {
    color:#ffeaff;
    background-color:#395648;
    width:100%;
    height:50px;
    border-radius:10px;
    margin-top:10px;
    font-size:1em;
    font-family:"Verdana"
}

.banner {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    position:relative;
}

.banner img { 
    width:95%;
    height:auto;
    border-radius:10px;
    border-color:#395648;
}

.direction-images{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items:center;
}

.direction-images img{
    width:100%;
    height:auto;
    display: block;
    justify-content: center;
    align-items:center;
    border-color:#395648;
    border-width:3px;
}

.image_box {
    position:relative;
}

.image_box .picture_button {
    transform: translateX(50%);
}

.image_box img {
    display:block;
    width:92%;
}

.picture_button {
    position:absolute;
    background-color:#395648;
    color:#ffeaff;
    transform: translate(-50%,-50%);
    top:75%;
    bottom:25%;
    width:50%;
    height:50px;
    font-size:1em;
    font-family:"Verdana";
    border-radius:10px;
}